# All players data to a dataframe

This script will extract stats from element-summary/history and append to a single table.

In [21]:
# Import Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import json
import time

pd.set_option('display.max_columns', 10)

In [22]:
# Start timer
start_time = time.time()

# number of players
nPlayers = 624

# initialise count
count = 0;

# get column names
gcn = True

data_dict = dict()

# Loop through all players
for i in range(1,nPlayers+1):
    
    # Open json file
    with open('../data/json/element-summary/' + str(i) + '.json') as f:
        es = json.load(f)
        
    # Number of fixtures for this player
    nFixtures = len(es["history"])
    
    # Get column names. only do this once
    if gcn:
        cn = es["history"][0].keys()
        gcn = False
    
    # Loop through this players fixtures
    for m in range(0, nFixtures):
        a = es["history"][m].values()
        data_dict[count] = a
        count = count+1

data = pd.DataFrame.from_dict(data_dict, "index", columns=cn)
print("--- %s seconds ---" % (time.time() - start_time))

--- 1.7080111503601074 seconds ---

This method reads each fixture's statistics as dictionary values and appends them to a master dictionary. Converting each fixture to a dataframe and then appending to a larger dataframe is much slower, as a copy of the dataframe is stored in memory every time something is appended.

In [23]:
data.head()

,id,kickoff_time,kickoff_time_formatted,team_h_score,team_a_score,...,fouls,dribbles,element,fixture,opponent_team
0,1,2018-08-12T15:00:00Z,12 Aug 16:00,0,2,...,0,0,1,1,13
1,526,2018-08-18T16:30:00Z,18 Aug 17:30,3,2,...,0,0,1,14,6
2,1053,2018-08-25T14:00:00Z,25 Aug 15:00,3,1,...,0,0,1,21,19
3,1584,2018-09-02T12:30:00Z,02 Sep 13:30,2,3,...,0,0,1,33,5
4,2121,2018-09-15T14:00:00Z,15 Sep 15:00,1,2,...,0,0,1,46,15

In [20]:
# Save a csv
data.to_csv(r'../data/csv/allplayers.csv')