# Clean Elements data
This will read the elements json file and save as cvs

#### Import Packages

In [12]:
#import packages
import pandas as pd
import numpy as np
import json
import unicodedata

pd.set_option('display.max_columns', None)

#### Define function to remove accents from dataframe

In [13]:
def remove_accents(s):
    res = s.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
    return res

#### Read in file and convert to DataFrame

In [14]:
# Read elements file
with open('../../data/json/elements/elements.json') as f:
    elements_list = json.load(f)

#### Clean DataFrame
- Remove bloating columns
- Sort by ID
- Restart indexing from 0
- Remove accents from player name to avoid future issu

In [15]:
elements = pd.DataFrame(elements_list)

elements = elements[['id', 'team', 'element_type', 'first_name', 'second_name']]
elements = elements.sort_values(by=['id']).reset_index(drop=True)

elements['team'] = elements['team']-1
elements['element_type'] = elements['element_type']-1

elements['first_name'] = remove_accents(elements['first_name'])
elements['second_name'] = remove_accents(elements['second_name'])

elements = elements.drop(columns=['id'])

elements.head()

   team  element_type first_name second_name
0     0             0       Petr        Cech
1     0             0      Bernd        Leno
2     0             1    Laurent   Koscielny
3     0             1     Hector    Bellerín
4     0             1      Nacho     Monreal

#### Save as csv

In [5]:
elements.to_csv(r'../../data/csv/elements.csv', index_label=False, index=False)