# Clean Elements data
This will read the elements json file and save as cvs

#### Import Packages

In [1]:
#import packages
import pandas as pd
import numpy as np
import json
import unicodedata

#pd.set_option('display.max_columns', None)

#### Define function to remove accents from dataframe

In [2]:
def remove_accents(s):
    res = s.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
    return res

#### Read in file and convert to DataFrame

In [3]:
# Read elements file
with open('../../data/json/elements/elements.json') as f:
    elements_list = json.load(f)
    
elements = pd.DataFrame(elements_list)
elements.head()

#cols0 = len(elements.columns)

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,threat,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,0,3,130,100.0,100.0,1,11334,0,0,-3,...,0.0,24,83497,0,136211,0,0.0,5.1,Cech,0
1,0,5,568,NaN,NaN,6,80201,0,0,-1,...,0.0,106,339095,0,250834,0,0.5,21.6,Leno,0
2,0,8,319,100.0,100.0,3,51507,0,0,-1,...,105.0,62,128478,0,92187,0,0.1,11.5,Koscielny,1
3,5,5,304,0.0,0.0,4,98745,0,0,-2,...,280.0,60,567084,0,1143684,0,0.0,11.3,Bellerín,3
4,4,7,392,100.0,100.0,5,38411,0,0,-1,...,224.0,77,298216,0,290921,0,0.3,14.3,Monreal,5

#### Clean DataFrame
- Remove bloating columns
- Sort by ID
- Restart indexing from 0
- Remove accents from player name to avoid future issu

In [4]:
elements = elements[['id', 'team', 'element_type', 'first_name', 'second_name', 'web_name']]
elements = elements.sort_values(by=['id']).reset_index(drop=True)

elements['team'] = elements['team']-1
elements['element_type'] = elements['element_type']-1
elements['id'] = elements['id']-1

elements['first_name'] = remove_accents(elements['first_name'])
elements['second_name'] = remove_accents(elements['second_name'])
elements['web_name'] = remove_accents(elements['web_name'])

#elements = elements.drop(columns=['id'])

elements.head()

   id  team  element_type first_name second_name   web_name
0   0     0             0       Petr        Cech       Cech
1   1     0             0      Bernd        Leno       Leno
2   2     0             1    Laurent   Koscielny  Koscielny
3   3     0             1     Hector    Bellerin   Bellerin
4   4     0             1      Nacho     Monreal    Monreal

#### Save as csv

In [5]:
elements.to_csv(r'../../data/csv/elements.csv', index_label=False, index=False)

In [6]:
elements[0:7].transpose().to_html('../../data/html/elements.html')

In [7]:
21790/624

34.919871794871796