<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#One-Hot-on-Pandas-DataFrame-Example" data-toc-modified-id="One-Hot-on-Pandas-DataFrame-Example-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>One-Hot on Pandas DataFrame Example</a></span></li><li><span><a href="#Binary-Encoding-on-Pandas-DataFrame-example" data-toc-modified-id="Binary-Encoding-on-Pandas-DataFrame-example-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Binary Encoding on Pandas DataFrame example</a></span></li></ul></div>

## One-Hot on Pandas DataFrame Example

In [17]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelBinarizer
import category_encoders as ce

# random numbers between 0 and 3
m = 20
data = pd.DataFrame()
data["feature"] = pd.Series(np.array(range(0,m)))
data.head()

   feature
0        0
1        1
2        2
3        3
4        4

In [18]:
ohe = OneHotEncoder(sparse=False, categories="auto")
data_ohe = ohe.fit_transform(data["feature"].values.reshape(-1,1))

In [19]:
# columns names
cols = ['']*m
for i in range(len(cols)):
    cols[i] = "feature_" + str(i)
    
data_ohe = pd.DataFrame(data_ohe==1, columns=cols)
data_ohe = pd.concat([data,data_ohe], axis=1)

In [20]:
data_ohe.head()

,feature,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19
0,0,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## Binary Encoding on Pandas DataFrame example

In [21]:
data_lbe = data.copy()
lbe = ce.binary.BinaryEncoder(cols=["feature"])
data_lbe = lbe.fit_transform(data_lbe)
data_lbe = pd.concat([data,data_lbe], axis=1)

In [22]:
data_lbe.head()

   feature  feature_0  feature_1  feature_2  feature_3  feature_4  feature_5
0        0          0          0          0          0          0          1
1        1          0          0          0          0          1          0
2        2          0          0          0          0          1          1
3        3          0          0          0          1          0          0
4        4          0          0          0          1          0          1