<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#FPL-ML-004:-Preparing-Data" data-toc-modified-id="FPL-ML-004:-Preparing-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>FPL-ML-004: Preparing Data</a></span><ul class="toc-item"><li><span><a href="#Import-Packages" data-toc-modified-id="Import-Packages-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import Packages</a></span></li><li><span><a href="#Teams" data-toc-modified-id="Teams-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Teams</a></span><ul class="toc-item"><li><span><a href="#Read-in-dataset" data-toc-modified-id="Read-in-dataset-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Read in dataset</a></span></li><li><span><a href="#Save-raw-table-to-html-for-blog" data-toc-modified-id="Save-raw-table-to-html-for-blog-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Save raw table to html for blog</a></span></li><li><span><a href="#Look-at-column-names" data-toc-modified-id="Look-at-column-names-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Look at column names</a></span></li><li><span><a href="#Remove-excess-columns" data-toc-modified-id="Remove-excess-columns-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Remove excess columns</a></span></li><li><span><a href="#Start-team-id-index-from-0" data-toc-modified-id="Start-team-id-index-from-0-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Start team id index from 0</a></span></li><li><span><a href="#Check-if-row-index-and-id-are-equal" data-toc-modified-id="Check-if-row-index-and-id-are-equal-1.2.6"><span class="toc-item-num">1.2.6&nbsp;&nbsp;</span>Check if row index and id are equal</a></span></li><li><span><a href="#Save-new-table-to-html-for-blog" data-toc-modified-id="Save-new-table-to-html-for-blog-1.2.7"><span class="toc-item-num">1.2.7&nbsp;&nbsp;</span>Save new table to html for blog</a></span></li><li><span><a href="#Save-table-to-csv-for-future-work" data-toc-modified-id="Save-table-to-csv-for-future-work-1.2.8"><span class="toc-item-num">1.2.8&nbsp;&nbsp;</span>Save table to csv for future work</a></span></li></ul></li><li><span><a href="#Players" data-toc-modified-id="Players-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Players</a></span><ul class="toc-item"><li><span><a href="#Read-in-data" data-toc-modified-id="Read-in-data-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Read in data</a></span></li><li><span><a href="#Save-raw-table-for-blog" data-toc-modified-id="Save-raw-table-for-blog-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Save raw table for blog</a></span></li><li><span><a href="#Look-at-column-names" data-toc-modified-id="Look-at-column-names-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Look at column names</a></span></li><li><span><a href="#Remove-excess-columns" data-toc-modified-id="Remove-excess-columns-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>Remove excess columns</a></span></li><li><span><a href="#Give-fields-approprait-names" data-toc-modified-id="Give-fields-approprait-names-1.3.5"><span class="toc-item-num">1.3.5&nbsp;&nbsp;</span>Give fields approprait names</a></span></li><li><span><a href="#Restart-index-from-0" data-toc-modified-id="Restart-index-from-0-1.3.6"><span class="toc-item-num">1.3.6&nbsp;&nbsp;</span>Restart index from 0</a></span></li><li><span><a href="#Check-id-and-row-index-are-equal" data-toc-modified-id="Check-id-and-row-index-are-equal-1.3.7"><span class="toc-item-num">1.3.7&nbsp;&nbsp;</span>Check id and row index are equal</a></span></li><li><span><a href="#Save-table-to-html-for-blog" data-toc-modified-id="Save-table-to-html-for-blog-1.3.8"><span class="toc-item-num">1.3.8&nbsp;&nbsp;</span>Save table to html for blog</a></span></li><li><span><a href="#Save-table-to-csv-for-future-work" data-toc-modified-id="Save-table-to-csv-for-future-work-1.3.9"><span class="toc-item-num">1.3.9&nbsp;&nbsp;</span>Save table to csv for future work</a></span></li></ul></li><li><span><a href="#Fixtures" data-toc-modified-id="Fixtures-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Fixtures</a></span><ul class="toc-item"><li><span><a href="#Read-in-data" data-toc-modified-id="Read-in-data-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Read in data</a></span></li><li><span><a href="#Save-raw-table-for-blog" data-toc-modified-id="Save-raw-table-for-blog-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Save raw table for blog</a></span></li><li><span><a href="#Look-at-column-names" data-toc-modified-id="Look-at-column-names-1.4.3"><span class="toc-item-num">1.4.3&nbsp;&nbsp;</span>Look at column names</a></span></li><li><span><a href="#Remove-excess-columns" data-toc-modified-id="Remove-excess-columns-1.4.4"><span class="toc-item-num">1.4.4&nbsp;&nbsp;</span>Remove excess columns</a></span></li><li><span><a href="#Start-index-from-0" data-toc-modified-id="Start-index-from-0-1.4.5"><span class="toc-item-num">1.4.5&nbsp;&nbsp;</span>Start index from 0</a></span></li><li><span><a href="#Check-that-id-and-row-index-match" data-toc-modified-id="Check-that-id-and-row-index-match-1.4.6"><span class="toc-item-num">1.4.6&nbsp;&nbsp;</span>Check that id and row index match</a></span></li><li><span><a href="#Save-table-as-html-for-blog" data-toc-modified-id="Save-table-as-html-for-blog-1.4.7"><span class="toc-item-num">1.4.7&nbsp;&nbsp;</span>Save table as html for blog</a></span></li><li><span><a href="#Save-table-to-csv-for-future-work" data-toc-modified-id="Save-table-to-csv-for-future-work-1.4.8"><span class="toc-item-num">1.4.8&nbsp;&nbsp;</span>Save table to csv for future work</a></span></li></ul></li><li><span><a href="#Player-Performance" data-toc-modified-id="Player-Performance-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Player Performance</a></span><ul class="toc-item"><li><span><a href="#Read-in-the-data" data-toc-modified-id="Read-in-the-data-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Read in the data</a></span></li><li><span><a href="#Look-at-columns" data-toc-modified-id="Look-at-columns-1.5.2"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>Look at columns</a></span></li><li><span><a href="#Remove-excess-columns" data-toc-modified-id="Remove-excess-columns-1.5.3"><span class="toc-item-num">1.5.3&nbsp;&nbsp;</span>Remove excess columns</a></span></li></ul></li></ul></li></ul></div>

# FPL-ML-004: Preparing Data

## Import Packages

In [1]:
import json
import pandas as pd
import numpy as np
import collections

#pd.set_option('display.max_columns', None)

## Teams

### Read in dataset

In [2]:
with open('../../data/json/teams/teams.json', 'r') as f:
    teams = pd.DataFrame(json.load(f))
    
teams.head()

,code,current_event_fixture,draw,form,id,link_url,loss,name,next_event_fixture,played,...,strength,strength_attack_away,strength_attack_home,strength_defence_away,strength_defence_home,strength_overall_away,strength_overall_home,team_division,unavailable,win
0,3,"[{'is_home': False, 'month': 5, 'event_day': 1...",0,None,1,,0,Arsenal,[],0,...,4,1270,1240,1340,1310,1320,1260,1,False,0
1,91,"[{'is_home': False, 'month': 5, 'event_day': 1...",0,None,2,,0,Bournemouth,[],0,...,3,1100,1040,1130,1120,1130,1030,1,False,0
2,36,"[{'is_home': True, 'month': 5, 'event_day': 1,...",0,None,3,,0,Brighton,[],0,...,2,1140,1040,1070,1010,1050,1030,1,False,0
3,90,"[{'is_home': True, 'month': 5, 'event_day': 1,...",0,None,4,,0,Burnley,[],0,...,3,1030,990,1040,1000,1100,1070,1,False,0
4,97,"[{'is_home': False, 'month': 5, 'event_day': 1...",0,None,5,,0,Cardiff,[],0,...,2,1060,1030,1090,1020,1080,1030,1,False,0

### Save raw table to html for blog

In [3]:
ncols = 4
teams.iloc[list(range(ncols))+[len(teams)-1]].transpose().to_html('../../data/html/teams_raw.html', bold_rows=False)

### Look at column names

In [4]:
print(teams.columns)

Index(['code', 'current_event_fixture', 'draw', 'form', 'id', 'link_url',
       'loss', 'name', 'next_event_fixture', 'played', 'points', 'position',
       'short_name', 'strength', 'strength_attack_away',
       'strength_attack_home', 'strength_defence_away',
       'strength_defence_home', 'strength_overall_away',
       'strength_overall_home', 'team_division', 'unavailable', 'win'],
      dtype='object')

### Remove excess columns

In [5]:
keep_these_columns = ['id', 'name', 'short_name', 'strength',
                      'strength_defence_home', 'strength_attack_home', 'strength_overall_home',
                      'strength_defence_away', 'strength_attack_away', 'strength_overall_away']

teams_cleaned = teams.copy()
teams_cleaned = teams_cleaned[keep_these_columns]
teams_cleaned.head()

,id,name,short_name,strength,strength_defence_home,strength_attack_home,strength_overall_home,strength_defence_away,strength_attack_away,strength_overall_away
0,1,Arsenal,ARS,4,1310,1240,1260,1340,1270,1320
1,2,Bournemouth,BOU,3,1120,1040,1030,1130,1100,1130
2,3,Brighton,BHA,2,1010,1040,1030,1070,1140,1050
3,4,Burnley,BUR,3,1000,990,1070,1040,1030,1100
4,5,Cardiff,CAR,2,1020,1030,1030,1090,1060,1080

### Start team id index from 0

In [6]:
teams_cleaned['id'] = teams_cleaned['id']-1
teams_cleaned.head()

,id,name,short_name,strength,strength_defence_home,strength_attack_home,strength_overall_home,strength_defence_away,strength_attack_away,strength_overall_away
0,0,Arsenal,ARS,4,1310,1240,1260,1340,1270,1320
1,1,Bournemouth,BOU,3,1120,1040,1030,1130,1100,1130
2,2,Brighton,BHA,2,1010,1040,1030,1070,1140,1050
3,3,Burnley,BUR,3,1000,990,1070,1040,1030,1100
4,4,Cardiff,CAR,2,1020,1030,1030,1090,1060,1080

### Check if row index and id are equal

If the row index and id are equal, then in future we can go directly to the correct fixture by using the row index rather than searching for the right id.

In [7]:
teams_cleaned['id'].equals(pd.Series(teams_cleaned.index))

True

### Save new table to html for blog

In [8]:
teams_cleaned.iloc[list(range(ncols))+[len(teams_cleaned)-1]].transpose().to_html('../../data/html/teams_clean.html', bold_rows=False)

### Save table to csv for future work

In [9]:
teams_cleaned.to_csv(r'../../data/csv/teams.csv', index=False, index_label=False)

## Players

### Read in data

In [10]:
with open('../../data/json/elements/elements.json') as f:
    players = pd.DataFrame(json.load(f))

players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,threat,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,0,3,130,100.0,100.0,1,11334,0,0,-3,...,0.0,24,83497,0,136211,0,0.0,5.1,Cech,0
1,0,5,568,NaN,NaN,6,80201,0,0,-1,...,0.0,106,339095,0,250834,0,0.5,21.6,Leno,0
2,0,8,319,100.0,100.0,3,51507,0,0,-1,...,105.0,62,128478,0,92187,0,0.1,11.5,Koscielny,1
3,5,5,304,0.0,0.0,4,98745,0,0,-2,...,280.0,60,567084,0,1143684,0,0.0,11.3,Bellerín,3
4,4,7,392,100.0,100.0,5,38411,0,0,-1,...,224.0,77,298216,0,290921,0,0.3,14.3,Monreal,5

### Save raw table for blog

In [11]:
ncols = 4
players.iloc[list(range(ncols))+[len(players)-1]].transpose().to_html('../../data/html/players_raw.html', bold_rows=False)

### Look at column names

In [12]:
print(players.columns)

Index(['assists', 'bonus', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheets', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'creativity', 'dreamteam_count', 'ea_index',
       'element_type', 'ep_next', 'ep_this', 'event_points', 'first_name',
       'form', 'goals_conceded', 'goals_scored', 'ict_index', 'id',
       'in_dreamteam', 'influence', 'loaned_in', 'loaned_out', 'loans_in',
       'loans_out', 'minutes', 'news', 'news_added', 'now_cost', 'own_goals',
       'penalties_missed', 'penalties_saved', 'photo', 'points_per_game',
       'red_cards', 'saves', 'second_name', 'selected_by_percent', 'special',
       'squad_number', 'status', 'team', 'team_code', 'threat', 'total_points',
       'transfers_in', 'transfers_in_event', 'transfers_out',
       'transfers_out_event', 'value_form', 'value_season', 'web_name',
       'yellow_cards'],
      dtype='object')

### Remove excess columns

In [13]:
keep_these_columns = ['id', 'first_name', 'second_name', 'web_name', 'element_type']

players_cleaned = players.copy()
players_cleaned = players_cleaned[keep_these_columns]
players_cleaned.head()

   id first_name second_name   web_name  element_type
0   1       Petr        Cech       Cech             1
1   2      Bernd        Leno       Leno             1
2   3    Laurent   Koscielny  Koscielny             2
3   4     Héctor    Bellerín   Bellerín             2
4   5      Nacho     Monreal    Monreal             2

### Give fields approprait names

In [14]:
players_cleaned = players_cleaned.rename(columns={'web_name': 'display_name', 'element_type': 'position'})
players_cleaned.head()

   id first_name second_name display_name  position
0   1       Petr        Cech         Cech         1
1   2      Bernd        Leno         Leno         1
2   3    Laurent   Koscielny    Koscielny         2
3   4     Héctor    Bellerín     Bellerín         2
4   5      Nacho     Monreal      Monreal         2

### Restart index from 0

In [15]:
players_cleaned['id'] = players_cleaned['id']-1
players_cleaned['position'] = players_cleaned['position']-1
players_cleaned = players_cleaned.sort_values(by=['id'])
players_cleaned.head()

   id first_name second_name display_name  position
0   0       Petr        Cech         Cech         1
1   1      Bernd        Leno         Leno         1
2   2    Laurent   Koscielny    Koscielny         2
3   3     Héctor    Bellerín     Bellerín         2
4   4      Nacho     Monreal      Monreal         2

### Check id and row index are equal

In [16]:
teams_cleaned['id'].equals(pd.Series(teams_cleaned.index))

True

### Save table to html for blog

In [17]:
players_cleaned.iloc[list(range(ncols))+[len(players_cleaned)-1]].transpose().to_html('../../data/html/players_clean.html', bold_rows=False)

### Save table to csv for future work

In [18]:
players_cleaned.to_csv(r'../../data/csv/players.csv', index=False, index_label=False)

## Fixtures
### Read in data

In [19]:
with open('../../data/json/fixtures/fixtures.json') as f:
    fixtures = pd.DataFrame(json.load(f))

fixtures.head()

,code,deadline_time,deadline_time_formatted,event,event_day,finished,finished_provisional,id,kickoff_time,kickoff_time_formatted,minutes,provisional_start_time,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,987597,2018-08-10T18:00:00Z,10 Aug 19:00,1,1,True,True,6,2018-08-10T19:00:00Z,10 Aug 20:00,90,False,True,"[{'goals_scored': {'a': [{'value': 1, 'element...",11,4,1,14,3,2
1,987598,2018-08-10T18:00:00Z,10 Aug 19:00,1,2,True,True,7,2018-08-11T11:30:00Z,11 Aug 12:30,90,False,True,"[{'goals_scored': {'a': [{'value': 1, 'element...",17,3,2,15,4,1
2,987592,2018-08-10T18:00:00Z,10 Aug 19:00,1,2,True,True,2,2018-08-11T14:00:00Z,11 Aug 15:00,90,False,True,"[{'goals_scored': {'a': [], 'h': [{'value': 1,...",5,3,0,2,2,2
3,987594,2018-08-10T18:00:00Z,10 Aug 19:00,1,2,True,True,3,2018-08-11T14:00:00Z,11 Aug 15:00,90,False,True,"[{'goals_scored': {'a': [{'value': 1, 'element...",7,2,2,9,2,0
4,987595,2018-08-10T18:00:00Z,10 Aug 19:00,1,2,True,True,4,2018-08-11T14:00:00Z,11 Aug 15:00,90,False,True,"[{'goals_scored': {'a': [{'value': 1, 'element...",6,2,3,10,4,0

### Save raw table for blog

In [20]:
ncols = 4
fixtures.iloc[list(range(ncols))+[len(fixtures)-1]].transpose().to_html('../../data/html/fixtures_raw.html', bold_rows=False)

### Look at column names

In [21]:
print(fixtures.columns)

Index(['code', 'deadline_time', 'deadline_time_formatted', 'event',
       'event_day', 'finished', 'finished_provisional', 'id', 'kickoff_time',
       'kickoff_time_formatted', 'minutes', 'provisional_start_time',
       'started', 'stats', 'team_a', 'team_a_difficulty', 'team_a_score',
       'team_h', 'team_h_difficulty', 'team_h_score'],
      dtype='object')

### Remove excess columns

In [22]:
keep_these_columns = ['id', 'kickoff_time', 'team_h', 'team_a', 'team_h_score', 'team_a_score', 
                      'team_h_difficulty', 'team_a_difficulty']

fixtures_cleaned = fixtures.copy()
fixtures_cleaned = fixtures_cleaned[keep_these_columns]
fixtures_cleaned.head()

,id,kickoff_time,team_h,team_a,team_h_score,team_a_score,team_h_difficulty,team_a_difficulty
0,6,2018-08-10T19:00:00Z,14,11,2,1,3,4
1,7,2018-08-11T11:30:00Z,15,17,1,2,4,3
2,2,2018-08-11T14:00:00Z,2,5,2,0,2,3
3,3,2018-08-11T14:00:00Z,9,7,0,2,2,2
4,4,2018-08-11T14:00:00Z,10,6,0,3,4,2

### Start index from 0

In [23]:
fixtures_cleaned = fixtures_cleaned.sort_values(by=['id']).reset_index(drop=True)
fixtures_cleaned['id'] = fixtures_cleaned['id']-1
fixtures_cleaned['team_h'] = fixtures_cleaned['team_h']-1
fixtures_cleaned['team_a'] = fixtures_cleaned['team_a']-1
fixtures_cleaned.head()

,id,kickoff_time,team_h,team_a,team_h_score,team_a_score,team_h_difficulty,team_a_difficulty
0,0,2018-08-12T15:00:00Z,1,13,0,2,4,4
1,1,2018-08-11T14:00:00Z,2,5,2,0,2,3
2,2,2018-08-11T14:00:00Z,9,7,0,2,2,2
3,3,2018-08-11T14:00:00Z,10,6,0,3,4,2
4,4,2018-08-12T12:30:00Z,12,19,4,0,3,5

### Check that id and row index match

In [24]:
fixtures_cleaned['id'].equals(pd.Series(fixtures_cleaned.index))

True

### Save table as html for blog

In [25]:
fixtures_cleaned.iloc[list(range(ncols))+[len(fixtures_cleaned)-1]].transpose().to_html('../../data/html/fixtures_clean.html', bold_rows=False)

### Save table to csv for future work

In [26]:
fixtures_cleaned.to_csv(r'../../data/csv/fixtures.csv', index=False, index_label=False)

## Player Performance

### Read in the data

In [27]:
nPlayers = 624
count = 0
gcn = False
data_dict = collections.OrderedDict()

for i in range(1,nPlayers+1):
    
    # Open json file
    with open('../../data/json/element-summary/' + str(i) + '.json') as f:
        es = json.load(f)
        
    # Number of fixtures for this player
    nFixtures = len(es["history"])
    
    # Get column names. only do this once
    if gcn:
        cn = es["history"][0].keys()
        gcn = False
        
    # Loop through this players fixtures
    for m in range(0, nFixtures):
        a = es["history"][m]
        data_dict[count] = a
        count = count+1
        
player_performance = pd.DataFrame.from_dict(data_dict, orient="index")

player_performance.head()

,id,kickoff_time,kickoff_time_formatted,team_h_score,team_a_score,was_home,round,total_points,value,transfers_balance,...,errors_leading_to_goal,errors_leading_to_goal_attempt,tackled,offside,target_missed,fouls,dribbles,element,fixture,opponent_team
0,1,2018-08-12T15:00:00Z,12 Aug 16:00,0,2,True,1,3,50,0,...,0,0,0,0,0,0,0,1,1,13
1,526,2018-08-18T16:30:00Z,18 Aug 17:30,3,2,False,2,3,50,188,...,0,0,0,0,0,0,0,1,14,6
2,1053,2018-08-25T14:00:00Z,25 Aug 15:00,3,1,True,3,3,50,8540,...,0,0,0,0,0,0,0,1,21,19
3,1584,2018-09-02T12:30:00Z,02 Sep 13:30,2,3,False,4,1,50,9582,...,0,2,0,0,0,0,0,1,33,5
4,2121,2018-09-15T14:00:00Z,15 Sep 15:00,1,2,False,5,2,50,-3297,...,0,0,0,0,0,0,0,1,46,15

In [28]:
print(player_performance.shape)

(21790, 54)

### Look at columns

In [29]:
print(player_performance.columns)

Index(['id', 'kickoff_time', 'kickoff_time_formatted', 'team_h_score',
       'team_a_score', 'was_home', 'round', 'total_points', 'value',
       'transfers_balance', 'selected', 'transfers_in', 'transfers_out',
       'loaned_in', 'loaned_out', 'minutes', 'goals_scored', 'assists',
       'clean_sheets', 'goals_conceded', 'own_goals', 'penalties_saved',
       'penalties_missed', 'yellow_cards', 'red_cards', 'saves', 'bonus',
       'bps', 'influence', 'creativity', 'threat', 'ict_index', 'ea_index',
       'open_play_crosses', 'big_chances_created',
       'clearances_blocks_interceptions', 'recoveries', 'key_passes',
       'tackles', 'winning_goals', 'attempted_passes', 'completed_passes',
       'penalties_conceded', 'big_chances_missed', 'errors_leading_to_goal',
       'errors_leading_to_goal_attempt', 'tackled', 'offside', 'target_missed',
       'fouls', 'dribbles', 'element', 'fixture', 'opponent_team'],
      dtype='object')

### Remove excess columns

In [ ]:
player_performance_cleaned = player_performance.copy()
player_performance_cleaned = player_performance_cleaned.drop(['id'])
player_performance_cleaned = player_performance_cleaned.rename({'element': 'id'})